<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PBG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>gestion_comptes</servlet-name>
    <servlet-class>servlets.GestionComptes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestion_comptes</servlet-name>
    <url-pattern>/gestion_comptes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acceuil</servlet-name>
    <servlet-class>servlets.Acceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceuil</servlet-name>
    <url-pattern>/acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign-in</servlet-name>
    <servlet-class>servlets.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign-in</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign-up</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign-up</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mon_compte</servlet-name>
    <servlet-class>servlets.MonCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mon_compte</servlet-name>
    <url-pattern>/mon_compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign_out</servlet-name>
    <servlet-class>servlets.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_out</servlet-name>
    <url-pattern>/sign_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <servlet-class>servlets.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>about</servlet-name>
    <servlet-class>servlets.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>conditions_utilisation</servlet-name>
    <servlet-class>servlets.ConditionsUtilisation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>conditions_utilisation</servlet-name>
    <url-pattern>/conditions_utilisation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerEvent</servlet-name>
    <servlet-class>polytech.ControllerEvent</servlet-class>
    <multipart-config>
      <max-file-size>104857600</max-file-size>
      <max-request-size>524288000</max-request-size>
      <file-size-threshold>104857600</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerEvent</servlet-name>
    <url-pattern>/ControllerEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAccueilEvent</servlet-name>
    <servlet-class>polytech.ControllerAccueilEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAccueilEvent</servlet-name>
    <url-pattern>/ControllerAccueilEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerClient</servlet-name>
    <servlet-class>polytech.ControllerClient</servlet-class>
    <multipart-config>
      <max-file-size>104857600</max-file-size>
      <max-request-size>524288000</max-request-size>
      <file-size-threshold>104857600</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerClient</servlet-name>
    <url-pattern>/ControllerClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>