<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Eventprojectv1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>ControllerImage</servlet-name>
    <servlet-class>polytech.ControllerImage</servlet-class>
    <multipart-config>
        <location>c:/fichiers</location>
        <max-file-size>104857600</max-file-size> <!-- 100 Mo -->
        <max-request-size>524288000</max-request-size> <!-- 5 x 100 Mo -->
        <file-size-threshold>104857600</file-size-threshold> <!-- 100 Mo -->
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerImage</servlet-name>
    <url-pattern>/ControllerImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerAccueilEvent</servlet-name>
    <servlet-class>polytech.ControllerAccueilEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAccueilEvent</servlet-name>
    <url-pattern>/ControllerAccueilEvent</url-pattern>
  </servlet-mapping>
</web-app>